/.DS_Store
/1. Introducción
/10. Recolección y Descripción
/11. Expresiones Regulares
/12. Actividad Entregable
/13. Evaluación_R2
/2. Operadores
/3. Strings
/4. Booleanos
/5. Condicionales
/6. Tarea1
/7. Bucles
/8. Pandas
/9. Examen